@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height 
line-height: 1.5;*/
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

button:disabled,
input[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

/* general */
body {
  font-family: "Rubik", serif;
  background-color: #1A1A1A;
  color: #F4F7FA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-size: 1.5rem;
}

h1::before,
h2::before {
  content: '';
  position: absolute;
  width: 22rem;
  height: 13rem;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.1));
  border-radius: 40px 40px 180px 150px;
  z-index: -1;
  filter: blur(60px);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

.btn {
  border-radius: 32.5px;
  padding: 15px 35px;
}

.btn img {
  display: inline;
  width: 18px;
}

.btn-info,
.btn-more {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  background: #FF9142;
  color: #F4F7FA;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  padding: 20px 26px 20px 35px;
  transition: all 0.2s ease-in-out;
}

@media screen and (hover: hover) {

  .btn-info:hover,
  .btn-more:hover,
  button:hover {
    transform: translateY(-4px)
  }
}

/* header */
.header {
  position: sticky;
  top: 0;
  padding: 12px 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease-in-out, backdrop-filter 0.1s ease-in-out;
}

.header.scrolled {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(255, 255, 255, 0.01));
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: inline-block;
  width: 10rem;
}

.header nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 4em;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

.header nav li {
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  transform: scale(1.1, 0.9);
}

.header nav li.active,
.header nav li:hover {
  opacity: 0.9;
}

.header .btn-contacts {
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #b8b8b8;
  background: rgba(3, 3, 4, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.header .btn-contacts:hover {
  color: #ffffff;
  background: rgb(39 39 45 / 50%);
}

.header .btn span {
  transform: scale(1.1, 0.9);
}

/* welcome */
.welcome .container {
  height: 90dvh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.welcome h1 {
  position: relative;
}

.welcome h1::before {
  top: -100px;
  right: -120px;
}

.introduction h2::before {
  bottom: -180px;
  left: -60px;
}

/* introduction */
.introduction {
  padding-bottom: 200px;
}

.introduction .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.introduction h2 {
  margin-bottom: 26px;
}

.introduction .container-img {
  height: 500px;
  width: 40%;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .introduction .container-img {
    height: 400px;
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .introduction .container-img {
    height: 320px;
    width: 50%;
  }
}

.introduction .cover-img {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: 0;
  left: 0;
}

.introduction .text {
  width: 60%;
}

.introduction p {
  color: #A8A8A8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 1px;
  margin-bottom: 76px;
}

/* projects */
.projects {
  margin-bottom: 10rem;
}

.projects .container {
  text-align: center;
}

.projects h2 {
  margin-bottom: 54px;
}

.projects .btn-more {
  background-color: transparent;
  border: 1px solid #FF9142;
  margin-bottom: 78px;
}

.projects .items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
}

.projects .item {
  flex: 1 1 calc(50% - 2rem);
  width: calc(50% - 2rem);
}

@media screen and (max-width: 768px) {
  .projects .item {
    flex: 100%;
  }
}

.projects .item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 32px;
}

.projects .item .desc {
  text-align: left;
}

.projects .item h4 {
  text-align: left;
  margin-bottom: 32px;
  position: relative;
}

.projects .item h4::after {
  content: "";
  width: 42px;
  height: 1px;
  top: 16px;
  right: 0;
  border-top: 1px solid #FF9142;
  z-index: 1;
  position: absolute;
}

.projects .property {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  justify-content: left;
  grid-row-gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.25px;
}

.projects .property .grid-header {
  color: #606060;
}

.projects .property .cell span {
  margin-right: 15px;
}

/* testimonial */
.testimonial {
  margin-bottom: 120px;
}

.testimonial .container p {
  color: #949494;
  font-size: 18px;
  margin-bottom: 35px;
}

.testimonial .container h2 {
  margin-bottom: 44px;
  position: relative;
}

.testimonial .container h2::after {
  content: "";
  background-image: url("./img/icons/quotes.svg");
  background-size: contain;
  background-repeat: no-repeat; 
  position: absolute;
  top: -40px;
  right: 0;
  width: 162px;
  height: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .testimonial .container h2::after {
    top: -5px;
    width: 80px;
    height: 100%;
  }
}

/* footer */
.footer {
  background-color: #131313;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 20px;
}

.footer .contacts {
  flex: 1;
}

.footer .contacts h2 {
  color: #FF9142;
  margin-bottom: 40px;
}

.footer .contacts .email {
  display: inline-block;
  font-family: 'Syne', sans-serif;
  font-size: 28px;
  margin-bottom: 40px;
}

.footer .contacts .socials {
  display: flex;
  column-gap: 18px;
  margin-bottom: 60px;
}

.footer .contacts .socials .facebook {
  -webkit-mask: url("./img/icons/facebook.svg") no-repeat center;
  mask: url("./img/icons/facebook.svg") no-repeat center;
}

.footer .contacts .socials .telegram {
  -webkit-mask: url("./img/icons/telegram.svg") no-repeat center;
  mask: url("./img/icons/telegram.svg") no-repeat center;
}

.footer .contacts .socials .linkedin {
  -webkit-mask: url("./img/icons/linkedin.svg") no-repeat center;
  mask: url("./img/icons/linkedin.svg") no-repeat center;
}

.footer .contacts .socials .github {
  -webkit-mask: url("./img/icons/github.svg") no-repeat center;
  mask: url("./img/icons/github.svg") no-repeat center;
}

.footer .contacts .socials .instagram {
  -webkit-mask: url("./img/icons/instagram.svg") no-repeat center;
  mask: url("./img/icons/instagram.svg") no-repeat center;
}

.footer .contacts .socials .twitter {
  -webkit-mask: url("./img/icons/twitter.svg") no-repeat center;
  mask: url("./img/icons/twitter.svg") no-repeat center;
}

.footer .contacts .socials .icon {
  display: inline-block;
  transition: transform 0.15s ease-in-out;
  width: 30px;
  height: 30px;
  background-color: #F0F0F0;
  mask-size: contain;
  -webkit-mask-size: contain;
}

@media screen and (hover: hover) {
  .footer .contacts .socials .icon:hover {
    transform: translateY(-4px);
    background-color: #FF9142;
  }
}

@media screen and (hover: none) {
  .footer .contacts .socials .icon {
    background-color: #FF9142;
  }
}

.footer .contact-form {
  flex: 1;
}

.footer .contact-form label,
.footer .contact-form input,
.footer .contact-form button,
.footer .contact-form textarea {
  display: block;
  color: #d3d3d3;
}

.footer .contact-form input,
.footer .contact-form textarea {
  width: 100%;
}

.footer .contact-form label {
  margin-bottom: 8px;
}

.footer .contact-form input {
  margin-bottom: 24px;
  padding: 12px 16px;
  border-radius: 4px;
  background: #1A1A1A;
  border: none;
}

.footer .contact-form textarea {
  margin-bottom: 40px;
  padding: 12px 16px;
  background: #1A1A1A;
  border-radius: 4px;
  border: none;
  resize: none;
}

.footer .contact-form input:focus-visible,
.footer .contact-form textarea:focus-visible {
  outline: 1px solid #3d3d3d;
}

.footer .contact-form button {
  background: #FF9142;
  color: #F4F7FA;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  padding: 18px 32px 18px 32px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.footer .copyright {
  width: 100%;
  text-align: center;
  border-top: 1px solid #606060;
  padding-top: 20px;
}

.footer #result-form {
  min-height: 72px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.1s;
  padding: 30px 0 0 4px;
}

.footer #result-form.visible {
  opacity: 1;
}

.footer .logo {
  width: 10rem;
}
